/* ---------------------------------------- css base 基础部分---------------------------------------- */
* {margin:0;padding:0; border:0; word-break:normal; font-family:Arial,"黑体"; background-size:100% 100%;line-height: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); font-size: 0.2rem;}
html,body{ width:100%; height:100%; -webkit-text-size-adjust: 100%!important;}
table{border-collapse:collapse;border-spacing:0;}
th,tr,td,h1,h2,h3,h4,h5,h6,i,b,em{font-style:normal;font-weight:normal;}
ol,ul,li {list-style-type:none; display:block;}
select,input,img{vertical-align:middle;border:none;outline:none;}
textarea {resize: none;} /*webkit核心中textare取消拖动调整大小*/
textarea:focus {outline: none;} /*textarea聚焦时默认边框颜色不变*/
select,input[type=text],input[type=tel],input[type=submit],input[type=password],input[type=number],textarea{ -webkit-appearance:none; border:none; border-radius:0; background-color:transparent;}
input::-webkit-input-placeholder,input:focus::-webkit-input-placeholder{color:#555;}/* input 标签placeholder文字的颜色*/
video{ background:#000;}
a{ text-decoration:none; display:inline-block;}
.clear{*zoom:1;}
.clear:after{content:"";display:table;clear:both;}
.table{display:table;width:100%;table-layout:fixed;}
.cell{display:table-cell;vertical-align:middle;}
.left{float:left;display: inline;}
.right{float:right;display: inline;}

.noEvent{pointer-events:none;}/* 禁止触摸互动事件 */
.noDefault{-webkit-touch-callout: none;}/* 禁止ios 长按时不触发系统的菜单，禁止ios&android长按时下载图片 */
.noSelect{-webkit-user-select:none;}/* 禁止ios和android用户选中文字 */


@media screen{html{font-size:50px;}}
@media screen and (min-width:320px){html{font-size:50px;}}
@media screen and (min-width:360px){html{font-size:56.25px;}}
@media screen and (min-width:375px){html{font-size:58.59px;}}
@media screen and (min-width:414px){html{font-size:64.6875px;}}
@media screen and (min-width:480px){html{font-size:75px;}}
@media screen and (min-width:540px){html{font-size:84.38px;}}
@media screen and (min-width:640px){html{font-size:100px;}}


/* ---------------------------------------- css common 公共部分 ---------------------------------------- */

/* load浮层 */
aside.loadBox{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:996; display: none;}
aside.loadBox span{ display:block; position:absolute; left:50%; top:50%; margin-left:-0.1rem; margin-top:-0.2rem; -webkit-transform:scale(0.4); -webkit-transform-origin: 50% 50%;}
aside.loadBox span i{ display:block; position:absolute; left:0; top:0; width:0.4rem; height:0.1rem; border-radius:0.08rem; background:rgba(255,255,255,0.5); box-shadow:0 0 0.1rem rgba(255,255,255,1);}
aside.loadBox span i:nth-child(1){ -webkit-transform:translate(0.6rem, 0) rotate(0deg); -webkit-animation:loadCircle 2.4s 0s linear infinite;}
aside.loadBox span i:nth-child(2){ -webkit-transform:translate(0.5196rem, 0.3rem) rotate(30deg); -webkit-animation:loadCircle 2.4s 0.2s linear infinite;}
aside.loadBox span i:nth-child(3){ -webkit-transform:translate(0.3rem, 0.5196rem) rotate(60deg); -webkit-animation:loadCircle 2.4s 0.4s linear infinite;}
aside.loadBox span i:nth-child(4){ -webkit-transform:translate(0, 0.6rem) rotate(90deg); -webkit-animation:loadCircle 2.4s 0.6s linear infinite;}
aside.loadBox span i:nth-child(5){ -webkit-transform:translate(-0.3rem, 0.5196rem) rotate(120deg); -webkit-animation:loadCircle 2.4s 0.8s linear infinite;}
aside.loadBox span i:nth-child(6){ -webkit-transform:translate(-0.5196rem, 0.3rem) rotate(150deg); -webkit-animation:loadCircle 2.4s 1.0s linear infinite;}
aside.loadBox span i:nth-child(7){ -webkit-transform:translate(-0.6rem, 0) rotate(180deg); -webkit-animation:loadCircle 2.4s 1.2s linear infinite;}
aside.loadBox span i:nth-child(8){ -webkit-transform:translate(-0.5196rem, -0.3rem) rotate(210deg); -webkit-animation:loadCircle 2.4s 1.4s linear infinite;}
aside.loadBox span i:nth-child(9){ -webkit-transform:translate(-0.3rem, -0.5196rem) rotate(240deg); -webkit-animation:loadCircle 2.4s 1.6s linear infinite;}
aside.loadBox span i:nth-child(10){ -webkit-transform:translate(0, -0.6rem) rotate(270deg); -webkit-animation:loadCircle 2.4s 1.8s linear infinite;}
aside.loadBox span i:nth-child(11){ -webkit-transform:translate(0.3rem, -0.5196rem) rotate(300deg); -webkit-animation:loadCircle 2.4s 2.0s linear infinite;}
aside.loadBox span i:nth-child(12){ -webkit-transform:translate(0.5196rem, -0.3rem) rotate(330deg); -webkit-animation:loadCircle 2.4s 2.2s linear infinite;}
aside.loadBox b{ display:block; position:absolute; left:0; top:50%; width:100%; height:0.4rem; line-height:0.4rem; margin-left:-0.1rem; margin-top:-0.34rem; text-align:center; font-size:0.2rem; color:rgba(255,255,255,0.7);}
@-webkit-keyframes loadCircle{0%{opacity:1}8.3%{opacity:0}50%{opacity:1}100%{opacity:1}}


/* 翻转提示浮层 */
aside.turnBox{ position:fixed; left:0; top:0; width:100%; height:100%; background:#000; z-index:999;}
aside.turnBox img.turn{ display:block; padding-top:7%; margin:0 auto 5%; height:58%;}
aside.turnBox p{ text-align:center; font-size:.2rem; color:#fff;}

/* 取代系统alert的警告提示弹窗 */
aside.alertBox{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:998;}
aside.alertBox>div{background-color:#fff; width:4.4rem; padding:0.4rem 0.4rem; border-radius:0.2rem; box-shadow:0 0 0.2rem #000; margin:2.4rem auto 0;}
aside.alertBox>div p{ text-align:center;}
aside.alertBox>div p.text{ margin-bottom:0.4rem; font-size:0.28rem; line-height: 0.44rem; color:#333;}
aside.alertBox>div p.btn a{ font-size:0.32rem; padding:0.1rem 0.4rem; color:#fff; background:#333; letter-spacing:0.04rem; border-radius:0.06rem;}

/* 视频 */
aside.videoBox{position:fixed; left:0; top:0; width:100%; height:100%; background:#000; z-index:996; display:none;}
aside.videoBox iframe,#videoBox video{width:100%; position:absolute; left:0; overflow:hidden;}
a.btnVideo,#btnVideo{ position:relative;}
a.btnVideo video,#btnVideo video,a.btnVideo iframe,#btnVideo iframe{ position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; opacity:0;}

